body {
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
}

.header-nav-bar {
    justify-content: right;
}

.segment.auth-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 40px;
}

.segment.portfolio {
    padding: 50px;
    margin: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
