{% extends 'base.html' %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'stocks/popup.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'stocks/popup.css' %}">
{% endblock %}
{% block title %}
Manage Portfolio
{% endblock %}

{% block content %}
    <br>
    <h2>Portfolio Summary</h2>
    <h2>{{portfolio.ptype}}</h2>
    <hr>

    <form method="POST" action="{% url 'stocks:managePortfolio' portfolio.pk %}" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="add" placeholder="Stock Ticker or Name" aria-label="Add" name="ticker">
        <input class="form-control mr-sm-2" type="add" placeholder="Buying Price" aria-label="Add" name="buying_price">
        <input class="form-control mr-sm-2" type="add" placeholder="Shares" aria-label="Add" name="quality">
        <input name=add_stock class="btn btn-outline-danger btn-sm" type="submit" value="Add Stock">
        
    </form>

    <br>
    {% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    {% endblock %}

    {% if stockdata %}
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Buying Price</th>
            <th scope="col">Quality</th>
            <!--th scope="col">Profits</th-->
            <th scope="col">Buy</th>
            <th scope="col">Delete Stock</th>
          </tr>
        </thead>
        <tbody>
            {% for userStock in stockdata %}     
                <td>
                <a href="{% url 'stocks:stockInfo' userStock.pk %}">{{userStock.ticker}}</a>
                </td>
              
                <td>${{userStock.buying_price}}</td>
                <td>{{userStock.quality}}</td>
 
                <td>
                    <!-- Trigger -->
                    <button id = "buy_btn" type="button" class="btn btn-outline-danger btn-sm" onclick="popup()">Buy</button>
                    <!-- popup -->
                    <div id="buy_form" class="popup_form">
                        <div class="popup_content">
                            <span class="close">&times;</span>
                            <form method="POST" action="{% url 'stocks:managePortfolio' portfolio.pk %}" class="form-inline my-2 my-lg-0">
                                {% csrf_token %}
                                <input class="form-control mr-sm-2" type="add" placeholder="Buying Price" aria-label="Add" name="buying_price">
                                <input class="form-control mr-sm-2" type="add" placeholder="Shares" aria-label="Add" name="quality">
                                <input name=buy_stock class="btn btn-outline-danger btn-sm" type="submit" value="Buy Stock">
                            </form> 
                        </div>
                    </div>
                </td>   
                <td>
                    <form method="POST" action="{% url 'stocks:managePortfolio' portfolio.pk %}" class="form-inline my-2 my-lg-0">
                        {% csrf_token %}
                        <input type="hidden" name="stock_symbol" value={{userStock.ticker}}>
                        <input type="hidden" name="stock_id" value={{userStock.pk}}>
                        <input name=remove_stock class="btn btn-outline-danger btn-sm" type="submit" value="x">
                        
                    </form> 
                </td>
            </tr>
            {% endfor %}

        </tbody>
      </table>
    {% endif%}
{% endblock %}

